.container{
    height: 100vh;
    width: 85vw;
    .header{
        background-color: black;
        height: 10vh;
    }
    .subHeader{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
        .subHeaderHeading{
            display: flex;
            align-items: center;
            font-family: 'lato';
            font-size: 20px;
            padding: 2%;
        }
        .addNewDiv{
            padding: 2%;
            .addNew{
                padding: 8px;
                border-radius: 10px;
                border-style: none;
                font-family: 'lato';
                font-size: 18px;
                cursor: pointer;
                background-color: #999999;
                color: white;
            }
        }
    }
}